@import "tailwindcss";
body {
  background-color: #0b0b0c;
}
/* ===== Custom Skills Scrollbar ===== */

/* Firefox */
.skills-scroll {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #000000; /* thumb gray | track black */
}

/* Chrome, Edge, Safari */
.skills-scroll::-webkit-scrollbar {
  width: 6px;
}

.skills-scroll::-webkit-scrollbar-track {
  background: #000000;
}

.skills-scroll::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 999px;
}

/* Hide scrollbar until hover */
.skills-scroll::-webkit-scrollbar {
  opacity: 0;
}

.skills-scroll:hover::-webkit-scrollbar {
  opacity: 1;
}

/* ===== Hide scrollbar but keep scrolling ===== */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

